@import url('https://fonts.googleapis.com/css?family=Copse|Delius+Swash+Caps|Gabriela|Unkempt&display=swap');
html{
  scroll-behavior: smooth;
}
.banner{
  background-image: url('../images/h_img.jpg');
  text-align: center;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: center; 
  padding-top: 17%;
}  
.banner h1{
  padding: 0.1px;
  margin: 12px;
  font-size: 44px;
}
.banner p{
  padding: 2px;
  font-size: 24px;
}
#mouse-click {
  animation: bounce 3s infinite;
}
#mouse-click{
  padding-top : 22px;
  margin-top: 10%;
  padding-bottom: 30px; 
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-55px);
  }
  60% {
    transform: translateY(-45px);
  }
}